
<div class="container mt-3 d-flex">

  <!-- Sección de Vestidos con Paginación -->
  <div id="pantalones">
      <h2>Pantalones</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Producto 1 -->
  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Princesa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <!-- Producto 2 -->
  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Princesa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>
  <!-- Producto 3 -->
  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Largo Francis</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <!-- Producto 3 -->
  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Largo Francis</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <!-- Producto 3 -->
  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Largo Francis</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Largo Francis</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Largo Francis</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <!-- Producto 1 -->
  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Princesa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <!-- Producto 2 -->
  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido coquete</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <!-- Producto 3 -->
  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Princesa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <!-- Producto 3 -->
  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Princesa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <!-- Producto 3 -->
  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Princesa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Princesa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="assets/Jeans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vestido Princesa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus quo similique...</p>
        <div class="mb-2">
          <strong>Tallas:</strong>
          <button type="button" class="btn btn-outline-secondary">S</button>
          <button type="button" class="btn btn-outline-secondary">M</button>
          <button type="button" class="btn btn-outline-secondary">L</button>
          <button type="button" class="btn btn-outline-secondary">XL</button>
        </div>
        <div>
          <strong>Colores:</strong>
          <button type="button" class="btn btn-outline-dark">Negro</button>
          <button type="button" class="btn btn-outline-pink">Rosado</button>
          <button type="button" class="btn btn-outline-primary">Azul</button>
        </div>

        <a href="#" class="btn btn-primary mt-2">A&ntilde;adir al carrito</a>
      </div>
    </div>
  </div>

      </div>



      <!-- Paginación para Vestidos -->
      <nav aria-label="Page navigation example">
          <ul class="pagination mt-4">
              <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
          </ul>
      </nav>
  </div>

</div>
