.contact-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 30px;
}
.social-links a {
  margin-right: 15px;
  transition: color 0.3s ease;
}
.social-links a:hover {
  color: #007bff;
}
.redes-sociales{
  height: 100px;
}
