<h1 class="text-center p-4">Vestidos</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let vestido of vestidos">
    <div class="card">
      <img [src]="vestido.imagen" class="card-img-top" [alt]="vestido.nombre">
      <div class="card-body">
        <h5 class="card-title">{{vestido.nombre}}</h5>
        <div class="mb-2">
          <strong>Talla:</strong>
          <ng-select class="ng-select" [(ngModel)]="seleccion" placeholder="Escoger" placement="bottom"
            [required]="seleccionObligatoria" (change)="seleccionObligatoria = true">
            <ng-option value="S">S</ng-option>
            <ng-option value="M">M</ng-option>
            <ng-option value="L">L</ng-option>
          </ng-select>
        </div>
        <div class="text-end">
          <h5>
            <strong>${{vestido.precio}}</strong>
          </h5>
        </div>
        <button (click)="agregarCompra(vestido)" class="btn btn-primary mt-2" [disabled]="!seleccion">Agregar al Carrito</button>
        <div *ngIf="seleccionObligatoria && !seleccion" class="text-danger">Selecciona una talla antes de continuar.</div>
      </div>
    </div>
  </div>
</div>
