<h1 class="text-center p-4 text-dark">Bienvenido a SC-Boutique!</h1>

<section class="products p-4 text-center">

  <div class="animate__animated animate__fadeIn animate__delay-1s">
    <h2 class="animate__animated animate__pulse animate__infinite p-4">Los Mejores Productos</h2>
    <div class="product-item row p-4">
      <div class="col-md-3">
        <img src="assets/imagenes/vestidos/vestido1.jpg" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/vestidos/vestido2.jpg" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/vestidos/vestido3.jpg" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/vestidos/vestido4.jpg" class="card-img-top" alt="Product 1">
      </div>
      <h3 class="p-4">Vestidos</h3>
      <p>Desde $9.99</p>
      <a href="vestidos" class="link-dark">Ver m&aacute;s</a>
    </div>
  </div>

  <div class="animate__animated animate__fadeIn animate__delay-2s">
    <h2 class="animate__animated animate__pulse animate__infinite p-4">La Mejor Calidad</h2>
    <div class="product-item row p-4">
      <div class="col-md-3">
        <img src="assets/imagenes/zapatos/Zapato1.jpeg" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/zapatos/Zapato2.jpeg" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/zapatos/Zapato3.jpeg" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/zapatos/Zapato4.jpeg" class="card-img-top" alt="Product 1">
      </div>
      <h3 class="p-4">Zapatos</h3>
      <p>Desde $9.99</p>
      <a href="zapatos" class="link-dark">Ver m&aacute;s</a>
    </div>
  </div>

  <div class="animate__animated animate__fadeIn animate__delay-3s">
    <h2 class="animate__animated animate__pulse animate__infinite p-4">Los Mejores Precios</h2>
    <div class="product-item row p-4">
      <div class="col-md-3">
        <img src="assets/imagenes/blusas/blusa1.png" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/blusas/blusa2.png" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/blusas/blusa3.jpg" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/blusas/blusa4.jpg" class="card-img-top" alt="Product 1">
      </div>
      <h3 class="p-4">Blusas</h3>
      <p>Desde $9.99</p>
      <a href="blusas" class="link-dark">Ver m&aacute;s</a>
    </div>
  </div>

  <div class="animate__animated animate__fadeIn animate__delay-4s">
    <h2 class="animate__animated animate__pulse animate__infinite p-4">Entrega Inmediata</h2>
    <div class="product-item row p-4">
      <div class="col-md-3">
        <img src="assets/imagenes/pantalones/pantalon1.jpg" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/pantalones/pantalon2.jpg" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/pantalones/pantalon3.jpg" class="card-img-top" alt="Product 1">
      </div>
      <div class="col-md-3">
        <img src="assets/imagenes/pantalones/pantalon4.jpg" class="card-img-top" alt="Product 1">
      </div>
      <h3 class="p-4">Pantalones</h3>
      <p>Desde $9.99</p>
      <a href="pantalones" class="link-dark">Ver m&aacute;s</a>
    </div>
  </div>


</section>


<footer>
  <p class="text-center">&copy; 2023 SC-Boutique</p>
</footer>
