/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

.border-column {
  border-right: 3px black solid;
}

.card-img-top {
  max-height: 200px;
  max-width: 100%;
  object-fit: contain;
}

div{
  font-family: 'DM Sans', sans-serif;
}

h1, h2, h3, h4{
  font-family: 'Josefin Sans', sans-serif;
}
